apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:9090   # <--- Docker service name from docker-compose!
    isDefault: true
    version: 1
    editable: true
    uid: P1809F7CD0C75ACF3        # <--- Matches the ID in your Dashboard JSON